# This file is for unifying the coding style for different editors and IDEs
# editorconfig.org

root = true

[*]
indent_size = 2
end_of_line = lf
indent_style = space
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# PHP PSR-12 Coding Standards
# http://www.php-fig.org/psr/psr-12/

[*.php]
indent_size = 4

[*.md]
trim_trailing_whitespace = false
